

a:focus {
  outline: none;
}

.no-selection {
  margin: 20px;
}

.contact-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}


li.list-group-item {
  list-style: none;
}

li.list-group-item > a {
  text-decoration: none;
}

li.list-group-item.active > a {
  color: white;
}


#nprogress .bar {
  background:cyan !important;
  height: 3px !important;
}


.aurelia-animators {
    padding: 20px;
    list-style: none;
}

.aurelia-animators>li.au-enter {
    opacity: 0!important;
}

.aurelia-animators>li.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.aurelia-animators>li.au-leave-active {
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
}

/* CSS3-Animations */
@-webkit-keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeIn {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}


.aurelia-animators.au-stagger {
    -webkit-animation-delay:500ms;
    animation-delay:500ms;
}